@model Pizzeria.Models.Pizza

@{
    ViewData["Title"] = "Cración de Pizza";
}

<h1>Ingreso de Pizza</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tamano" class="control-label"></label>
                <input asp-for="Tamano" class="form-control" />
                <span asp-validation-for="Tamano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantPorciones" class="control-label"></label>
                <input asp-for="CantPorciones" class="form-control" />
                <span asp-validation-for="CantPorciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

